In [1]:
import numpy as np
import pandas as pd

pd.set_option('display.max_rows', 10)

pd.set_option('display.max_columns', 15)


read_loan_with_8C = pd.read_csv("Files/loan_approval_8_columns.csv")

read_approval_dataSet_extra = pd.read_csv("Files/loan_approval_dataset_extra.csv")

# print(read_approval_dataSet_extra.columns)

df_extra_selected = read_approval_dataSet_extra[[' no_of_dependents', ' education',
                                                 ' self_employed', ' income_annum', ' loan_amount', ' commercial_assets_value',
                                                 ' luxury_assets_value', ' bank_asset_value']]

# print(df_extra_selected)

combined_loan_dataset = pd.concat([read_loan_with_8C, df_extra_selected], axis=1)

print(combined_loan_dataset)

combined_loan_dataset.to_csv("Files/loan_approval_preprocessed.csv", index= False)

                 name              city    income  credit_score  loan_amount  \
0        Allison Hill         East Jill  113810.0         389.0      39698.0
1        Brandon Hall     New Jamesside   44592.0         729.0      15446.0
2        Rhonda Smith      Lake Roberto   33278.0         584.0      11189.0
3     Gabrielle Davis  West Melanieview  127196.0         344.0      48823.0
4        Valerie Gray         Mariastad   66048.0         496.0      47174.0
...               ...               ...       ...           ...          ...
4264              NaN               NaN       NaN           NaN          NaN
4265              NaN               NaN       NaN           NaN          NaN
4266              NaN               NaN       NaN           NaN          NaN
4267              NaN               NaN       NaN           NaN          NaN
4268              NaN               NaN       NaN           NaN          NaN

      years_employed  points  ...      education   self_employed  \
0               27.0    50.0  ...       Graduate              No
1               28.0    55.0  ...   Not Graduate             Yes
2               13.0    45.0  ...       Graduate              No
3               29.0    50.0  ...       Graduate              No
4                4.0    25.0  ...   Not Graduate             Yes
...              ...     ...  ...            ...             ...
4264             NaN     NaN  ...       Graduate             Yes
4265             NaN     NaN  ...   Not Graduate             Yes
4266             NaN     NaN  ...   Not Graduate              No
4267             NaN     NaN  ...   Not Graduate              No
4268             NaN     NaN  ...       Graduate              No

      income_annum  loan_amount   commercial_assets_value  \
0          9600000     29900000                  17600000
1          4100000     12200000                   2200000
2          9100000     29700000                   4500000
3          8200000     30700000                   3300000
4          9800000     24200000                   8200000
...            ...          ...                       ...
4264       1000000      2300000                    500000
4265       3300000     11300000                   2900000
4266       6500000     23900000                  12400000
4267       4100000     12800000                    700000
4268       9200000     29700000                  11800000

       luxury_assets_value   bank_asset_value
0                 22700000            8000000
1                  8800000            3300000
2                 33300000           12800000
3                 23300000            7900000
4                 29400000            5000000
...                    ...                ...
4264               3300000             800000
4265              11000000            1900000
4266              18100000            7300000
4267              14100000            5800000
4268              35700000           12000000

[4269 rows x 16 columns]

In [3]:
from numpy import exceptions
import numpy as np
import pandas as pd

pd.set_option('display.max_rows', 10)
pd.set_option('display.max_columns', 15)

# read from load data loan approval preprocessed

try:
  loan_approval_preprocessed = pd.read_csv("Files/loan_approval_preprocessed.csv")
  print(loan_approval_preprocessed.tail(10))

except Exception as ex:
  print(f"error: {ex}")


#imputation
# Calculate monthly income from 'income_annum' and assign it to the 'income' column.
# This is done using vectorized operations for efficiency.
if ' income_annum' in loan_approval_preprocessed.columns:
    loan_approval_preprocessed['income'] = (loan_approval_preprocessed[' income_annum'] / 12).round(2)

else:
    print("Warning: 'income_annum' column not found. Cannot calculate monthly income.")

# Define a robust imputation function that can handle both numerical/categorical and boolean columns
def sample_data_imputation(columns, is_boolean=False):
  missing_mask = loan_approval_preprocessed[columns].isna()
  n_missing = missing_mask.sum()

  if n_missing == 0:
    return # No missing values, nothing to do

  existing_values = loan_approval_preprocessed[columns].dropna()

  if is_boolean:
    # Check if existing_values are actually binary before calculating mean for binomial distribution
    if existing_values.isin([0, 1]).all():
      p_success = existing_values.mean()
      samples_for_imputation = np.random.binomial(n=1, p=p_success, size=n_missing)
    else:
      print(f"Warning: Column '{columns}' is marked as boolean but contains non-binary values. Falling back to random sampling.")
      samples_for_imputation = np.random.choice(existing_values, size=n_missing, replace=True)
  else:
    samples_for_imputation = np.random.choice(existing_values, size=n_missing, replace=True)

  loan_approval_preprocessed.loc[missing_mask, columns] = samples_for_imputation


#filling in the credit score column
sample_data_imputation(columns='credit_score')

#filling in the loan amount column
sample_data_imputation(columns='loan_amount')

#filling in the years of employment column
sample_data_imputation(columns='years_employed')

#filling in the points column
sample_data_imputation(columns='points')

#filling in the loan_approved column (boolean)
sample_data_imputation(columns='loan_approved', is_boolean=True)

#filling in the name column
sample_data_imputation(columns='name')

#filling in the city column
sample_data_imputation(columns='city')


loan_approval_preprocessed.to_csv("Files/loan_approval_preprocessed.csv", index=False)

                       name               city     income  credit_score  \
4259         Courtney Smith     East Craigfurt  375000.00         785.0
4260           Meagan Smith         Port Chloe  733333.33         744.0
4261  Mr. William Davis DDS      Dennischester  250000.00         333.0
4262             Chad Reyes      North Jonfurt  108333.33         717.0
4263           Tonya Oliver     New Kelseyview  416666.67         325.0
4264           Linda Miller         New Kristy   83333.33         464.0
4265            Lori Brooks     Kristenchester  275000.00         645.0
4266        Elizabeth Clark          Lake Ryan  541666.67         362.0
4267      Victoria Williams  Port Kathyborough  341666.67         804.0
4268         Christina Cobb        West Walter  766666.67         724.0

      loan_amount  years_employed  points  ...      education   self_employed  \
4259       9183.0            33.0    35.0  ...   Not Graduate             Yes
4260      25361.0             8.0    45.0  ...       Graduate              No
4261       7652.0            14.0   100.0  ...       Graduate             Yes
4262      45535.0            25.0    65.0  ...       Graduate              No
4263       7233.0            27.0    40.0  ...       Graduate              No
4264      26831.0             1.0    60.0  ...       Graduate             Yes
4265       8013.0            31.0    75.0  ...   Not Graduate             Yes
4266      17183.0            36.0    70.0  ...   Not Graduate              No
4267       9308.0            40.0    35.0  ...   Not Graduate              No
4268      42162.0             8.0    50.0  ...       Graduate              No

      income_annum  loan_amount   commercial_assets_value  \
4259       4500000     11500000                   2300000
4260       8800000     29300000                  13900000
4261       3000000      7500000                   4500000
4262       1300000      3000000                   2300000
4263       5000000     12700000                   8100000
4264       1000000      2300000                    500000
4265       3300000     11300000                   2900000
4266       6500000     23900000                  12400000
4267       4100000     12800000                    700000
4268       9200000     29700000                  11800000

       luxury_assets_value   bank_asset_value
4259              15400000            5900000
4260              31100000            9900000
4261               6100000            2300000
4262               3200000            1900000
4263              19500000            6300000
4264               3300000             800000
4265              11000000            1900000
4266              18100000            7300000
4267              14100000            5800000
4268              35700000           12000000

[10 rows x 16 columns]